/* work-sans-regular - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/work-sans-v13-latin-regular.woff2') format('woff2'),
         url('../fonts/work-sans-v13-latin-regular.woff') format('woff');
  }

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* padding-top: 56px; */
    font-family: 'Work sans' serif;
    line-height:1.5;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
    /* background-color: rgb(129, 70, 70); */
}
.footer_section {

    max-width: 100%;
    padding: 50px;
    justify-content: space-between;
    display: flex;
}


.footer_link {
    text-decoration: none;
}

.footer_link_ofice {
    font-size: 17px;
    line-height: 30px;
    width: 52px;
    color: #333333;
    transition: all 0.3s ease;
}

.footer_perez {
    font-size: 17px;
    line-height: 30px;
    width: 167px;
    text-decoration: none;
    color: #333333;
    transition: all 0.3s ease;
}

.footer_perez:hover {
    color: #8a8383;
    transition: all 0.3s ease;
}

.footer_perez:active {
    opacity: 0.7;
}

.footer_lagos {
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;
    color: #333333;
}

.footer_lagos:hover {
    color: #8a8383;
    transition: all 0.3s ease;
}

.footer_lagos:active {
    opacity: 0.7;
}

.link_com {
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

.link_com:hover {
    color: #8a8383;
    transition: all 0.3s ease;
}

.link_com:active {
    opacity: 0.8;
}

.footer_link_a {
    display: flex;
    flex-direction: column;
}

.link__contact {
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.link__contact:hover {
    color: #8a8383;
    transition: all 0.3s ease;
}

.link__contact:active {
    opacity: 0.7;
}

.link_nuber {
    font-size: 16px;
    line-height: 30px;
    color: #333333;
    text-decoration: none;
}

.link_nuber:hover {
    color: #8a8383;
    transition: all 0.3s ease;
}

.link_nuber:active {
    opacity: 0.7;
}

/* paragrf */

.footer_text_firts {
    font-size: 16px;
    line-height: 30px;
    width: 258px;
}

.footer_text_second {
    font-size: 17px;
    line-height: 30px;
    width: 264px;
}